.contact {
	padding: 95px 0 85px;
	background-color: $title-black;

	@media (max-width:$md2+px){
		padding: 160px 0 149px; 
  }
}

// TEXT
// ------------------------------------------------------------------------

.contact__sec-header {
	color: $white;
	margin-bottom: 17px;
}

.contact__descr {
	color: $white;
	margin-bottom: 50px;
}

// TEXT
// ------------------------------------------------------------------------


// BOX
// ------------------------------------------------------------------------

.contact__box {
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width:$md2+px){
		flex-direction: column-reverse; 
	}
}

.contact__form {
	flex-basis: 400px;
}

.contact__connect {
	flex-basis: 265px;
	margin-left: 65px;

	@media (max-width:$md2+px){
		 margin-left: 0; 
	}
}