// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

// My header styles
// -----------------------------------------------------------------------------

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  // background-color: #9631ad6b;
}
.header__fluid {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  flex-grow: 1;

  @media (max-width:$md3+px){
     flex-grow: 0; 
     margin-bottom: 25px; 
  }
}

.header__container {
  height: 128px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  
  @media (max-width:$md3+px){
     justify-content: center; 
  }
}

// -----------------------------------------------------------------------------

.header__nav {
  @media (max-width:$md3+px){
     margin-bottom: 25px; 
  }
}

.header__list {
  display: flex;
}

.header__item {
  margin-right: 40px;
  &:last-child {
    margin-right: 45px;
  }
}

.header__link {
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: $white;
}

.header__subs-input {
  flex-basis: 273px;
  margin-right: 12px;
}

// -----------------------------------------------------------------------------
// My header styles

// Хедер, который ездит вместе со страницей:
// -----------------------------------------------------------------------------

// .header {
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	width: 100%;
// 	z-index: 10;
// }
