.hero {
  padding: 326px 0 104px 0;
  background-image: url(../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;

  background-color: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);

  @media (max-width: $md4+px) {
    padding-top: 202px;
    background-image: url(../images/mobile-bg.png);
    background-position: left;
  }
}

// CONTENT
// -----------------------------------------------------------------------------
.hero__container {
  display: flex;
  justify-content: end;
  position: relative;

  @media (max-width: $md2+px) {
    justify-content: center;
    text-align: center;
  }
}

.hero__image {
  &:before {
    position: absolute;
    left: -15%;
    top: -18%;
    content: "";
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: 0px 9.86057px 19.7211px rgba(0, 0, 0, 0.16),
      0px 9.86057px 131.474px rgba(0, 0, 0, 0.23);
    width: 760px;
    height: 520px;

    @media (max-width: $md2+px) {
      left: 0%;
      top: 75%;
      background-size: cover;
    }

    @media (max-width: $md3+px) {
      width: 475px;
      height: 310px;
      left: 50%;
      transform: translateX(-50%);
      top: 115%;
    }

    @media (max-width: $md4+px) {
      width: 380px;
      height: 212px;
      left: 50%;
      transform: translateX(-50%);
      top: 115%;
    }
  }
}

.hero__content {
  max-width: 430px;
  position: relative;
}

.hero__title {
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: $white;

  @media (max-width: $md4+px) {
    font-size: 46px;
    line-height: 57px;
    font-weight: 400;
  }
}

.hero__subtitle {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $white;
  letter-spacing: 0.2px;
}

.hero__button {
  color: $secondary;
  background-color: $white;

  cursor: pointer;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 58px;
  height: 65px;
  border-radius: 35px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

  &:hover {
    color: $white;
    background-color: $secondary;
  }

  @media (max-width: $md4+px) {
    position: absolute;
    bottom: -210%;
    left: 50%;
    transform: translateX(-50%);
    width: 236px;

    color: $white;
    background-color: $secondary;
    font-size: 22px;
    height: 65px;
    padding: 16px 58px;
    line-height: 33px;
    font-weight: 700;

    &:hover {
      color: $secondary;
      background-color: $secondary;
    }
  }
}
