.testimonials {
  text-align: center;
  padding: 110px 0 100px;
}
.testimonials__sec-header {
  margin-bottom: 90px;
}
.testimonials__image {
  margin-bottom: 50px;
}
.testimonials__text {
  margin-bottom: 65px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: $text-black;

  @media (max-width: $md4+px) {
    font-size: 13.5256px;
    line-height: 17px;
	 max-width: 280px;
	 margin: 0 auto;
	 margin-bottom: 50px;
  }
}
.testimonials__author {
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  text-align: left;


}
.testimonials__name {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: $text-black;

  @media (max-width: $md4+px) {
    font-size: 10.1442px;
    line-height: 15px;
  }
}

.testimonials__work {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: $title-black;

  @media (max-width: $md4+px) {
    font-size: 12.6802px;
    line-height: 23px;
  }
}

.testimonials__avatar {
  margin-right: 13px;
}

.testimonials__button {
  color: $white;
  background-color: $secondary;
  border: 1px solid transparent;

  cursor: pointer;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 58px;
  height: 65px;
  border-radius: 35px;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

  &:hover {
    color: $secondary;
    background-color: $white;
    border: 1px solid $secondary;
  }
}
