// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.button {
  @include btn-standard;
  padding: 18px 38px;

  &_white {
    color: $accent;
    background-color: $white;

    &:hover {
      color: $white;
      background-color: $accent;
    }
  }
  @media (max-width: $md4+px) {
    font-size: 22px;
    height: 65px;
    padding: 16px 58px;
    line-height: 33px;
    font-weight: 700;
    width: 236px;

    color: $white;
    background-color: $secondary;

    &:hover {
      color: $secondary;
      background-color: $secondary;
    }
  }
}
