.connect {
  display: flex;
  flex-direction: column;

  @media (max-width: $md2+px) {
    flex-direction: column-reverse;
    // align-items: center;
  }
}

.connect__row {
  display: inline-flex;
  align-items: center;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: $white;

  a {
    color: inherit;
  }

  @media (max-width: $md2+px) {
    max-width: 264px;
    align-items: flex-start;
  }
}

.footer__connect .connect__row {
  color: $text-black;
  text-align: left;
}

.connect__icon {
  fill: $accent;
  margin-right: 20px;
}

.connect__icon_location {
  flex-basis: 26px;
  height: 32px;
}

.connect__icon_phone {
  width: 21px;
  height: 32px;
}

.connect__icon_mail {
  width: 27px;
  height: 21px;
  margin-right: 16px;
}

.connect__social {
  margin-top: 50px;
  display: flex;
  a {
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }

  @media (max-width: $md2+px) {
    margin-top: 0;
    margin-bottom: 65px;
    align-self: center;
  }
}

.footer__connect .connect__social {
  @media (max-width: $md2+px) {
    text-align: left;
    margin-bottom: 0;
    margin-top: 50px;
  }
}

.connect__social-icon {
  width: 40px;
  height: 40px;
  fill: $accent;
}
