* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1122px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #374754;
}

.subheader {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #252B42;
}

.sec-header {
  font-weight: 400;
  font-size: 46px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42;
  max-width: 318px;
  margin: 0 auto;
}

.description {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #374754;
  max-width: 318px;
  margin: 0 auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__fluid {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 767.98px) {
  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-bottom: 25px;
  }
}

.header__container {
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767.98px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767.98px) {
  .header__nav {
    margin-bottom: 25px;
  }
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 45px;
}

.header__link {
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #fff;
}

.header__subs-input {
  -ms-flex-preferred-size: 273px;
      flex-basis: 273px;
  margin-right: 12px;
}

.hero {
  padding: 326px 0 104px 0;
  background-image: url(../../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-color: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
}

@media (max-width: 479.98px) {
  .hero {
    padding-top: 202px;
    background-image: url(../../images/mobile-bg.png);
    background-position: left;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

@media (max-width: 991.98px) {
  .hero__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.hero__image:before {
  position: absolute;
  left: -15%;
  top: -18%;
  content: "";
  background-image: url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-box-shadow: 0px 9.86057px 19.7211px rgba(0, 0, 0, 0.16), 0px 9.86057px 131.474px rgba(0, 0, 0, 0.23);
          box-shadow: 0px 9.86057px 19.7211px rgba(0, 0, 0, 0.16), 0px 9.86057px 131.474px rgba(0, 0, 0, 0.23);
  width: 760px;
  height: 520px;
}

@media (max-width: 991.98px) {
  .hero__image:before {
    left: 0%;
    top: 75%;
    background-size: cover;
  }
}

@media (max-width: 767.98px) {
  .hero__image:before {
    width: 475px;
    height: 310px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 115%;
  }
}

@media (max-width: 479.98px) {
  .hero__image:before {
    width: 380px;
    height: 212px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 115%;
  }
}

.hero__content {
  max-width: 430px;
  position: relative;
}

.hero__title {
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #fff;
}

@media (max-width: 479.98px) {
  .hero__title {
    font-size: 46px;
    line-height: 57px;
    font-weight: 400;
  }
}

.hero__subtitle {
  margin-bottom: 75px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.2px;
}

.hero__button {
  color: #38A3F1;
  background-color: #fff;
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 58px;
  height: 65px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.hero__button:hover {
  color: #fff;
  background-color: #38A3F1;
}

@media (max-width: 479.98px) {
  .hero__button {
    position: absolute;
    bottom: -210%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 236px;
    color: #fff;
    background-color: #38A3F1;
    font-size: 22px;
    height: 65px;
    padding: 16px 58px;
    line-height: 33px;
    font-weight: 700;
  }
  .hero__button:hover {
    color: #38A3F1;
    background-color: #38A3F1;
  }
}

.features {
  padding: 80px 0;
}

@media (max-width: 479.98px) {
  .features {
    padding: 23px 0 80px;
  }
}

@media (max-width: 479.98px) {
  .features__container {
    max-width: 318px;
  }
}

.features__subheader {
  margin-bottom: 16px;
}

.features__sec-header {
  margin-bottom: 28px;
}

.features__description {
  margin-bottom: 80px;
}

@media (max-width: 479.98px) {
  .features__description {
    margin-bottom: 60px;
  }
}

.features__icon {
  width: 43px;
  height: 43px;
  background-color: #EF2779;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.features__svg {
  width: 18px;
  height: 16px;
  fill: #fff;
}

.features__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.features__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #374754;
}

.features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 52px;
}

@media (max-width: 991.98px) {
  .features__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 479.98px) {
  .features__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.features__item {
  -ms-flex-preferred-size: 255px;
      flex-basis: 255px;
}

@media (max-width: 991.98px) {
  .features__item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin-bottom: 85px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767.98px) {
  .features__item {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }
}

@media (max-width: 479.98px) {
  .features__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin-bottom: 85px;
  }
  .features__item:last-child {
    margin-bottom: 0;
  }
}

.features__top {
  margin-bottom: 10px;
}

.proto {
  padding: 110px 0 130px;
}

@media (max-width: 767.98px) {
  .proto {
    display: none;
  }
}

.proto__container {
  margin: 0 auto;
  text-align: center;
}

.proto__sec-header {
  margin-bottom: 24px;
}

.proto__description {
  margin-bottom: 70px;
}

.proto__button {
  margin-bottom: 109px;
  color: #fff;
  background-color: #38A3F1;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 58px;
  height: 65px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.proto__button:hover {
  color: #38A3F1;
  background-color: #fff;
  border: 1px solid #38A3F1;
}

.proto__image {
  margin: 0 auto;
  max-width: 1035px;
}

.proto__image img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
}

.subs {
  padding: 85px 0 100px;
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
}

@media (max-width: 479.98px) {
  .subs {
    padding: 80px 0 114px;
  }
}

.subs__sec-header {
  max-width: 100%;
  color: #fff;
  margin-bottom: 75px;
}

@media (max-width: 479.98px) {
  .subs__sec-header {
    display: none;
  }
}

.subs__sec-header--mob {
  display: none;
}

@media (max-width: 479.98px) {
  .subs__sec-header--mob {
    display: block;
    margin-bottom: 60px;
    color: #fff;
  }
}

.subs__subheader {
  color: #fff;
}

.subs__button {
  color: #fff;
  background-color: #EF2779;
}

.subs__button:hover {
  background-color: #fff;
  color: #EF2779;
}

.subs__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #fff;
  margin-bottom: 10px;
}

.subs__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #fff;
  margin-bottom: 34px;
}

.subs__box {
  text-align: center;
}

.partners {
  padding: 130px 0 80px;
}

@media (max-width: 479.98px) {
  .partners {
    padding: 100px 0 50px;
  }
}

.partners__container {
  text-align: center;
}

.partners__sec-header {
  margin-bottom: 17px;
}

.partners__description {
  margin-bottom: 80px;
}

.partners__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}

.partners__svg {
  margin-bottom: 30px;
}

.partners__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #374754;
  letter-spacing: 0.2px;
}

.partners__button {
  color: #fff;
  background-color: #38A3F1;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 58px;
  height: 65px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.partners__button:hover {
  color: #38A3F1;
  background-color: #fff;
  border: 1px solid #38A3F1;
}

.partners__box {
  margin-bottom: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 80px 63px;
}

@media (max-width: 767.98px) {
  .partners__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 479.98px) {
  .partners__box {
    gap: 40px;
  }
}

.partners__item {
  -ms-flex-preferred-size: 235px;
      flex-basis: 235px;
  text-align: center;
}

@media (max-width: 479.98px) {
  .partners__item--mob {
    display: none;
  }
}

.testimonials {
  text-align: center;
  padding: 110px 0 100px;
}

.testimonials__sec-header {
  margin-bottom: 90px;
}

.testimonials__image {
  margin-bottom: 50px;
}

.testimonials__text {
  margin-bottom: 65px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #374754;
}

@media (max-width: 479.98px) {
  .testimonials__text {
    font-size: 13.5256px;
    line-height: 17px;
    max-width: 280px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.testimonials__author {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

.testimonials__name {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
}

@media (max-width: 479.98px) {
  .testimonials__name {
    font-size: 10.1442px;
    line-height: 15px;
  }
}

.testimonials__work {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #252B42;
}

@media (max-width: 479.98px) {
  .testimonials__work {
    font-size: 12.6802px;
    line-height: 23px;
  }
}

.testimonials__avatar {
  margin-right: 13px;
}

.testimonials__button {
  color: #fff;
  background-color: #38A3F1;
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 58px;
  height: 65px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
}

.testimonials__button:hover {
  color: #38A3F1;
  background-color: #fff;
  border: 1px solid #38A3F1;
}

.pricing {
  padding: 110px 0 100px;
}

.pricing__sec-header {
  margin-bottom: 17px;
}

.pricing__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__descr {
  margin-bottom: 80px;
}

.pricing__description {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__amount {
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #252B42;
  margin-right: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__currency {
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__data {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #374754;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__button {
  padding: 18px 88px !important;
  color: #fff;
  background-color: #38A3F1;
}

.pricing__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1122px) {
  .pricing__box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.pricing__item {
  -ms-flex-preferred-size: 335px;
      flex-basis: 335px;
  cursor: pointer;
  padding: 40px;
  background: #fff;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.pricing__item:hover {
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
}

.pricing__item:hover .pricing__title,
.pricing__item:hover .pricing__description,
.pricing__item:hover .pricing__amount,
.pricing__item:hover .pricing__currency,
.pricing__item:hover .pricing__data {
  color: #fff;
}

.pricing__item:hover .pricing__button {
  background-color: #fff;
  color: #EF2779;
}

.pricing__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.contact {
  padding: 95px 0 85px;
  background-color: #252B42;
}

@media (max-width: 991.98px) {
  .contact {
    padding: 160px 0 149px;
  }
}

.contact__sec-header {
  color: #fff;
  margin-bottom: 17px;
}

.contact__descr {
  color: #fff;
  margin-bottom: 50px;
}

.contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .contact__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact__form {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
}

.contact__connect {
  -ms-flex-preferred-size: 265px;
      flex-basis: 265px;
  margin-left: 65px;
}

@media (max-width: 991.98px) {
  .contact__connect {
    margin-left: 0;
  }
}

.footer {
  padding: 130px 0;
}

@media (max-width: 991.98px) {
  .footer {
    padding: 136px 0 126px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991.98px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__container > * {
    margin-bottom: 55px;
  }
  .footer__container > *:last-child {
    margin-bottom: 0px;
  }
}

.footer__pages {
  -ms-flex-preferred-size: 186px;
      flex-basis: 186px;
  margin-right: 65px;
}

@media (max-width: 479.98px) {
  .footer__pages {
    margin-right: 0;
  }
}

.footer__connect {
  -ms-flex-preferred-size: 264px;
      flex-basis: 264px;
  margin-left: 45px;
}

@media (max-width: 991.98px) {
  .footer__connect {
    margin-left: 0;
  }
  .footer__connect .connect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__map {
  border-radius: 22px;
  overflow: hidden;
}

@media (max-width: 991.98px) {
  .footer__map iframe {
    max-width: 358px;
  }
}

@media (max-width: 479.98px) {
  .footer__map iframe {
    max-width: 300px;
  }
}

.footer__title {
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.1px;
  color: #252B42;
}

.footer__item {
  margin-bottom: 16px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__item a {
  font-weight: 400;
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.button {
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 18px 38px;
}

.button_white {
  color: #EF2779;
  background-color: #fff;
}

.button_white:hover {
  color: #fff;
  background-color: #EF2779;
}

.connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 991.98px) {
  .connect {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.connect__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.1px;
  color: #fff;
}

.connect__row a {
  color: inherit;
}

@media (max-width: 991.98px) {
  .connect__row {
    max-width: 264px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.footer__connect .connect__row {
  color: #374754;
  text-align: left;
}

.connect__icon {
  fill: #EF2779;
  margin-right: 20px;
}

.connect__icon_location {
  -ms-flex-preferred-size: 26px;
      flex-basis: 26px;
  height: 32px;
}

.connect__icon_phone {
  width: 21px;
  height: 32px;
}

.connect__icon_mail {
  width: 27px;
  height: 21px;
  margin-right: 16px;
}

.connect__social {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect__social a {
  margin-right: 24px;
}

.connect__social a:last-child {
  margin-right: 0;
}

@media (max-width: 991.98px) {
  .connect__social {
    margin-top: 0;
    margin-bottom: 65px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 991.98px) {
  .footer__connect .connect__social {
    text-align: left;
    margin-bottom: 0;
    margin-top: 50px;
  }
}

.connect__social-icon {
  width: 40px;
  height: 40px;
  fill: #EF2779;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 19px 39px;
  background: #efefef;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
}

.subscribe__input::-webkit-input-placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscribe__input:-ms-input-placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscribe__input::-ms-input-placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscribe__input::placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.svg__icon {
  fill: #fff;
}

/* SVG References 

<svg class="icon svg__icon">
  <use xlink:href="sprite.svg#location"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#mail"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#phone"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#twitter"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#02"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#01"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#03"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#facebook"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="sprite.svg#linkedin"></use>
</svg>

*/
.subs__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 353px;
  margin: 0 auto;
}

.subs__input {
  margin-bottom: 12px;
}

.logo {
  cursor: pointer;
}

.contact-form {
  padding: 79px 41px 26px 41px;
  width: 400px;
  background: #ffffff;
  border: 0.65371px solid #dddddd;
  -webkit-box-shadow: 0px 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 8.49823px 12.4205px rgba(0, 0, 0, 0.07);
  border-radius: 13.0742px;
}

@media (max-width: 479.98px) {
  .contact-form {
    width: 300px;
  }
}

.contact-form__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form__body > * {
  margin-bottom: 31px;
}

.contact-form__body > *:last-child {
  margin-bottom: 0;
}

.contact-form__input {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 9.80565px;
  line-height: 10px;
  letter-spacing: 0.065371px;
  padding: 13px;
  background: #f5f5f5;
  border: 0.65371px solid #e8e8e8;
  border-radius: 25.4947px;
}

.contact-form__input::-webkit-input-placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 9.80565px;
  line-height: 10px;
  letter-spacing: 0.065371px;
}

.contact-form__input:-ms-input-placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 9.80565px;
  line-height: 10px;
  letter-spacing: 0.065371px;
}

.contact-form__input::-ms-input-placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 9.80565px;
  line-height: 10px;
  letter-spacing: 0.065371px;
}

.contact-form__input::placeholder {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 9.80565px;
  line-height: 10px;
  letter-spacing: 0.065371px;
}

.contact-form__textarea {
  outline: none;
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 9.80565px;
  line-height: 10px;
  letter-spacing: 0.065371px;
  padding: 13px;
  background: #f5f5f5;
  border: 0.65371px solid #e8e8e8;
  resize: none;
  width: 318px;
  height: 126px;
}

@media (max-width: 479.98px) {
  .contact-form__textarea {
    width: 220px;
  }
}

.contact-form__button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 35px;
  height: 35px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 10.4594px;
  line-height: 10px;
  letter-spacing: 0.130742px;
  background-color: #EF2779;
  color: #fff;
  border: 1px solid transparent;
}

.contact-form__button:hover {
  background-color: #fff;
  color: #EF2779;
  border: 1px solid #EF2779;
}
