* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

input,
button,
textarea {
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 1122px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #374754;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header__fluid {
  max-width: 1350px;
  padding: 0 15px;
  margin: 0 auto;
}

.header__logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header__container {
  height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__item {
  margin-right: 40px;
}

.header__item:last-child {
  margin-right: 45px;
}

.header__link {
  font-size: 15px;
  line-height: 27px;
  letter-spacing: 0.2px;
  color: #fff;
}

.header__subs-input {
  -ms-flex-preferred-size: 273px;
      flex-basis: 273px;
  margin-right: 12px;
}

.hero {
  padding: 260px 0 104px 0;
  background-image: url(../../images/hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  position: relative;
}

.hero__image:before {
  position: absolute;
  left: -15%;
  top: -60%;
  content: "";
  background-image: url(../../images/hero-bg.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 960px;
  height: 825px;
}

.hero__content {
  max-width: 312px;
}

.hero__title {
  margin-bottom: 17px;
  font-weight: 900;
  font-size: 55px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: #fff;
}

.hero__subtitle {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.2px;
}

.hero__button {
  color: #38A3F1;
  background-color: #fff;
}

.hero__button:hover {
  color: #fff;
  background-color: #38A3F1;
}

.button {
  cursor: pointer;
  font-family: inherit;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 54px;
  border-radius: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  padding: 18px 38px;
}

.button_white {
  color: #EF2779;
  background-color: #fff;
}

.button_white:hover {
  color: #fff;
  background-color: #EF2779;
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__input {
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 19px 39px;
  background: #efefef;
  border: 1px solid #e8e8e8;
  border-radius: 39px;
}

.subscribe__input::-webkit-input-placeholder {
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscribe__input:-ms-input-placeholder {
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscribe__input::-ms-input-placeholder {
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.subscribe__input::placeholder {
  font-family: inherit;
  color: #18171D;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.icon {
  width: 50px;
  height: 50px;
  margin: .5em;
}

.svg__icon {
  fill: green;
}

/* SVG References 

<svg class="icon svg__icon">
  <use xlink:href="#location"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#mail"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#phone"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#twitter"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#02"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#01"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#03"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#facebook"></use>
</svg><svg class="icon svg__icon">
  <use xlink:href="#linkedin"></use>
</svg>

*/
.logo {
  cursor: pointer;
}
